@font-face {
  font-family: 'Lato';
  src: url('./Lato-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato BoldItalic';
  src: url('./Lato-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato LightItalic';
  src: url('./Lato-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato BlackItalic';
  src: url('./Lato-BlackItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
