.hero.is-primary.GetAQuoteHeading {
  background-color: rgb(18, 20, 23);
  background: url('../../src/images/getaquote.jpg') no-repeat;
}
.GetAQuoteHeading .title {
  font-size: 50px;
}
.trasparent.GetAQuote {
  background-color: rgb(18, 20, 23);
}
.GetAQuote input, .GetAQuote textarea {
  background-color: transparent;
  color: #ffffff;
}

.GetAQuote .select, .GetAQuote select {
  width: 100%;
}

.GetAQuote .button.is-danger.is-inverted.is-outlined {
  width: 100%;
  float: none;
  margin: 25px auto 0 auto;
}

.GetAQuote .button.is-danger.is-inverted.is-outlined:hover,
.GetAQuote .button.is-danger.is-inverted.is-outlined:focus {
  background-color: rgba(224, 224, 224, 0.25);
  color: #fff;
}

.GetAQuote .label {
  color: #fff;
}

.GetAQuote input:focus  + label {
  color: red !important;
}

/* DROPZONE CSS */

#dropzone {
    min-height: 150px;
    border: 2px dashed rgb(38, 43, 49);
    background: transparent;
    color: #fff;
    padding: 65px 40px;
}
