/*=============================================>>>>>
= QUOTES US =
===============================================>>>>>*/
.is-quotes {
  background: url('../../src/images/quotes-bg.jpeg') no-repeat;
  background-size: cover;
  position: relative;
}
.quotes {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.quotes h1 {
  font-size: 3.5em;
  font-weight: bold;
  font-family: 'Lato BoldItalic';
  color: #fff;
  margin-bottom: 0 !important;
}
.quotes_container {
  width: 35%;
  display: block;
  margin: 0 auto;
  padding: 20px 0;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  margin-top: 50px;
  position: relative;
}
.quotes_container::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 20px;
  left: 0;
  right: 0;
  top: -35px;
  margin: 0 auto;
  background: url('../../src/images/before_quote.png') no-repeat;
}
.quotes_container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 20px;
  left: 0;
  right: 0;
  bottom: -35px;
  margin: 0 auto;
  background: url('../../src/images/after_quote.png') no-repeat;
}
.quotes_container .quote_text {
  position: relative;
  display: block;
  float: none;
  clear: both;
  font-family: 'Lato LightItalic';
}
.quotes_container .quote_author {
  position: relative;
  display: block;
  float: none;
  clear: both;
  font-family: 'Lato BlackItalic';
  color: #8394AC;
  margin-top: 20px;
  font-size: 22px;
}
.apiby {
  position: absolute;
  left: 30px;
  bottom: 20px;
}
.apiby .white {
  font-family: 'Open Sans Regular';
}
.apiby .blue {
  font-family: 'Open Sans Bold';
  color: #8394AC;
}
/*= End of QUOTES US =*/
/*=============================================<<<<<*/
