/*=============================================>>>>>
= HERO =
===============================================>>>>>*/

/* BACKGROUND */

.is-background {
  background: url('../../src/images/bg.jpeg') no-repeat;
  background-size: 100%;
}
.trasparent {
  background-color: rgba(0, 0, 0, 0.5);
}

/* NETGLITCH BRAND */

.brand {
  height: auto;
  display: block;
}
.brand img {
  width: 50%;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

/* WE ARE HEADER */

.we-are {
  display: block;
  height: 25px;
  width: 20%;
  float: none;
  margin: 0 auto;
  position: relative;
  line-height: 25px;
}
.we-are .line {
  position: absolute;
  width: 55px;
  height: 100%;
  line-height: 25px;
}
.we-are .line img {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY('-50%');
  -moz-transform: translateY('-50%');
  transform: translateY('-50%');
}
.we-are .line_pre {
  left: 0;
  top: 0;
}
.we-are .line_post {
  right: 0;
  top: 0;
}
.we-are span{
  color: #fff;
  font-size: 22px;
}

/* GET QUOTE */

.get-quote {
  display: inline-block;
  margin: 0 auto;
  height: 40px;
  position: relative;
  color: #fff;
  line-height: 40px;
}
.get-quote .get-quote_wrapper .item.button {
  background-color: rgba(255, 255, 255, 0.05);
}
.get-quote .get-quote_wrapper .item.button:hover {
  background-color: rgba(224, 224, 224, 0.25);
  color: #fff;
}
.get-quote .item {
  display: inline-block;
  float: none;
  min-width: 150px;
  vertical-align: middle;
  font-size: 16px;
  color: #fff;
}
.get-quote_wrapper .item_line {
  height: 25px;
  min-width: 1px;
  width: 1px;
  background: #fff;
}
.item.item_left {
  text-align: right;
}
.item.item_right {
  text-align: left;
}
.item_line_left {
  margin: 0 26px 0 32px;
}
.item_line_right {
  margin: 0 32px 0 26px;
}

/*= End of HERO =*/
/*=============================================<<<<<*/
